<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Extracted Tables</title>
</head>
<body>
        <p>Hello World! Id = {{ Web_Page_Url.id }} number of tables = {{ table_count }}</p>

        <div>
                <ul>
                        <li class="w3-bar">
                                <p>ID - {{ Web_Page_Url.id }} URL - {{ Web_Page_Url.url }}
                                <a href="{% url 'download_page' table_ids table_type %}">download all</a></p>
                        </li>
                </ul>
        </div>

        <div>
        <ul>
                {% for table in Web_Page_Tables %}			
                        <li class="w3-bar">
                        <p>TABLE ID - {{ table.0 }} URL ID - {{ Web_Page_Url.id }}
                        <a href="{% url 'download_page'  table.0 table_type %}">download</a></p>
                        {{table.1 | safe}}
                        </li>						
                {% endfor %}
                </ul>
        </div>
</body>
</html>

<!-- specidy download file and do the same for all other file types -->
